*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  font-family: Arial;
}

/*HEADER*/
header{
  /*border: 2px solid red;*/
  background: linear-gradient(to bottom, green, darkgreen);
  height: auto;
}

header .headPanel{
  font-family: "Times New Roman";
  display: flex;
  justify-content: center;
  align-items: center;
}

header .headPanel img{
  width: 180px;
}
header .headPanel h1{
  color: yellow;
  width: auto;
}

.navBar{
  background-color: darkgreen;
  display: flex;
  justify-content: space-around;
  border-top: 2px solid yellow;
  border-bottom: 2px solid yellow;
  position: sticky;
  top: 0px;
}

.navBar a{
  text-decoration: none;
  font-family: Sans-Serif;
  font-size: 1rem;
  margin: 10px;
  color: yellow;
  font-weight: bold;
}

/*MAIN SECTION*/
main{
  /*border: 2px solid lime;*/
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .trackMatch{
  /*border: 2px solid red;*/
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
}

.trackPanel{
  border: 1px solid rgb(177,177,177);
  width: 250px;
  height: 100%;
  font-family: Sans-Serif;
  border-radius: 15px;
}

.trackPanel #placePanel{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px 0;
}
.trackPanel > h3{
  font-size: 0.8rem;
  color: rgb(177,177,177);
  margin: 0 10px 0;
  display: flex;
  justify-content: space-between;
}
.trackPanel #s1{
  border-bottom: 1px solid;
  margin: 0 5px 0;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px 5px;
}
.trackPanel p{
  font-size: 1rem;
}
.trackPanel #s1 h3{
  background-color: rgb(190,190,190);
  padding: 10px;
  border-radius: 20px;
}
.trackPanel #s2 h3{
  background-color: rgb(190,190,190);
  padding: 10px;
  border-radius: 20px;
}
.trackPanel #s2{
  border-top: 1px solid;
  margin: 0 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px 5px;
}
.trackPanel #win{
  color: green;
  margin-right: 10px;
}
.trackPanel #lose{
  color: red;
  margin-right: 10px;
}

#placePanel h3{
  font-size: 1rem;
}

#placePanel img{
  width: 50px;
}

/*FOR BOTTOM MAIN*/
.container{
  /*border: 2px solid lime;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(231,231,231);
  height: auto;
  padding-bottom: 50px;
}

.panelInfo{
  /*border: 2px solid red;*/
  display: flex;
  justify-content: space-between;
  margin: 20px 0 20px 0;
  width: 95%;
}

.panelInfo h3{
  font-size: 0.8rem;
}

.panelInfo #menTopScorers{
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 20px;
}
.panelInfo #playerProfiles{
  color: rgb(95,95,95);
  padding: 10px;
  border-radius: 20px;
}

.playersDisplay{
  /*border: 2px solid rgb(177,177,177);*/
  width: 100%;
  height: 500px;
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  gap: 20px;
}

.playersDisplay .players{
  border: 1px solid rgb(177,177,177);
  flex: 0 0 auto;
  width: 250px;
  height: 100%;
  background: linear-gradient(to bottom, white, lightgrey);
  display: flex;
  flex-direction: column;
  padding: 0 5px 0;
  font-family: Sans-Serif;
}

.backNum{
  font-family: "Times New Roman";
  font-size: 3rem;
  border-bottom: 2px solid;
}

.headIcon{
  width: 60px;
  height: 60px;
  border-bottom: 2px solid;
  border-radius: 20px;
  margin-top: 5px;
}

.players #s1{
  /*border: 2px solid purple;*/
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px 0;
  margin-bottom: 10px;
}

.players #s2{
  /*border: 2px solid green;*/
  height: 500px;
}

.position{
  font-size: 0.7rem;
  color: grey;
  margin-top: 5px;
}

.players #s3{
  /*border: 3px solid tomato;*/
  height: auto;
}

.players #s3 > h3{
  font-size: 1rem;
  color: rgb(194,194,194);
}

.players #s3 div{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid grey;
  border-right: 2px solid grey;
  padding: 10px 5px 10px 0;
  margin-top: 40px;
  font-size: 0.8rem;
}

.players #s4{
  /*border: 2px solid tomato;*/
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.players #s4 a{
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 20px;
  font-size: 0.7rem;
  font-weight: bold;
}

/*FOOTER*/
footer{
  /*border: 2px solid lime;*/
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
}

footer .quoteBox{
  /*border: 2px solid red;*/
  background-color: rgb(231,231,231);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 50px 5px 50px;
}

footer .quoteBox p{
  display: flex;
  justify-content: center;
  align-items: center;
}

footer #quote{
  font-size: 1.3rem;
  font-family: "Times New Roman";
  font-weight: bold;
  text-align: center;
  text-align-last: center;
}
footer #quoteBy{
  font-size: 1rem;
  height: 50px;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  color: rgb(151,151,151);
}

footer #s1{
  background-color: green;
  width: 100%;
  height: 200px;
}